MANAGER_URL=http://127.0.0.1:7001
FABRIC_URL=http://127.0.0.1:7002
UI_HOST=127.0.0.1
UI_PORT=8000
HEAD_CAMERA_PROVIDER_ID=camera.femto_bolt
LOCAL_VIO_PROVIDER_ID=localization.local_vio
AUTO_INITIALIZE_SPACE_COGNITION=true
SPACE_COGNITION_TIMEOUT_S=45
POINT_CLOUD_RETENTION_S=10
POINT_CLOUD_SAMPLE_STRIDE=10
POINT_CLOUD_HZ=5
POINT_CLOUD_MAX_POINTS=180000
